@charset "UTF-8";

:root {
  --tifany: #1DE9B6;
  --fark-tifany:#00BFA5;
  --magenta: #E91D50;
  --light-magenta-0:#ffccd8 ;


  --light-red-5:#ffb6b6;
  --light-gray-0: #dddd;
  --dark: #212121;
  --dark-0:#2f2f2f;
}

/* line 11, ../../app/learningApps-org/base/_base.scss */
body, html {
  background-image: none !important;
  font-family: monospace !important;
}

/* line 15, ../../app/learningApps-org/base/_base.scss */
body {
  font-size: 20px !important;
    background-color: #f5f5f5 !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #565656 !important;
}

/* line 24, ../../app/learningApps-org/base/_base.scss */
body.bg-1 {
  background-image: url('/images/quiz/bg-1.gif') !important;
}

/* line 24, ../../app/learningApps-org/base/_base.scss */
body.bg-2 {
  /* background-image: url('/images/quiz/bg-2.gif') !important; */
  /* background: #41526b !important; */
  background: #41526be0 !important;
}

/* line 24, ../../app/learningApps-org/base/_base.scss */
body.bg-3 {
  background-image: url('/images/quiz/bg-3.gif') !important;
}

/* line 23, ../../app/learningApps-org/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: monospace !important;
  font-weight: normal!important;
}

/* *****Ariana Do********* */

/* body */
#wrapper{
  background: #B2DFDB!important;
}
#crossword{
  margin: 10% 0!important; 
  height: 628px!important; 
}


/* meseage */
#AppClientTaskPanel{
  border-radius: 8px !important;
  background-color: #ffffff!important;
  border-top: 9px solid rgb(255, 158, 0)!important;
  border-left: 1px solid #dddd!important;
  border-right: 1px solid #dddd!important;
  border-bottom: 1px solid #dddd!important;
  padding: 25px!important;
  -webkit-box-shadow:none !important;
          box-shadow:none !important;
}
#AppClientTaskPanel p{
  margin: 0 0 15px !important;
  color: #2f2f2f!important;
}
#AppClientTaskPanel div{
  color: #4c4c4c!important;
  text-align: justify!important;
}
#AppClientTaskPanel div button{
  font-size: 120%!important;
  width: 100%!important;
  margin: 25px 0 0!important;
  padding: 5px!important;
  border: none!important;
  color: #fff!important;
  background: rgb(15, 108, 227);
  border-radius: 20px!important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
#AppClientTaskPanel div button:hover{
  opacity: 0.5!important;       
}

/* grid body */
.highlight{
  -webkit-box-shadow: 0px 0px 0px 2px rgb(253, 122, 145) !important;
          box-shadow: 0px 0px 0px 2px rgb(253, 122, 145) !important;
}
#innerCrossword .filled{
  border: 1px solid #b9b9b9!important;
  background: #ffffff  !important;
  cursor: pointer!important;
  border-radius: 5px!important;
  color: #212121;  
  /* box-shadow: none!important; */
}
   
/* modal */
.field {
  border: 1px solid #dcdcdcdd!important;
  background: #E0F2F1!important;
  vertical-align: middle!important;
  text-align: center!important;
  padding: 15px!important;
  font-family: Arial!important;
  font-weight: bold!important;
  border-radius: 3px!important;
  -webkit-box-shadow: 0px 0px 2px #c5c5c5dd!important;
          box-shadow: 0px 0px 2px #c5c5c5dd!important;
  -webkit-border-radius: 3px!important;
  -moz-border-radius: 3px!important;
  -ms-border-radius: 3px!important;
  -o-border-radius: 3px!important;
}

#questionSidePanel{
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border-radius: 8px!important;
  border: none!important;
  background: #fff!important;
  width: 45%!important;
  margin: 0 auto 0 !important;
  position: relative !important;
  left: 0 !important;
  top: 0 !important
}

#questionSidePanel div{
  opacity: 1 !important;
}

#questionSidePanel div:nth-child(1){
  border-radius: 8px!important;
  border: none!important;
}

#questionSidePanel div:nth-child(2) img{
  opacity: 0.5!important;
  border-radius: 25px!important;
  padding: 6px !important;
  margin: 5px !important;
  background: rgb(185 185 185)!important;

}

#questionDisplay{
  border:1px solid #b0afaf!important;
  border-radius: 8px!important;
  padding: 20px 50px!important;
  height: 100vh!important;
} 

.inputElement{
  border: none !important;
}

#questionDisplay div img{
  background: #fff!important;
  margin: 0px auto!important;
  border-radius: 3px!important;
  border: 2px inset rgb(249 249 249) !important;
  max-height: 200px;
  width: 200px;
}

#questionDisplay div:nth-child(2){
  height: 50px!important;
}

#questionDisplay b:first-child{
  display: block!important;
  text-align: center!important;
  font-size: 20px!important;
}

#questionDisplay br{
  display: none !important;
}

#questionDisplay b:nth-child(2){
  display: none!important;
} 

#questionDisplay .filled{
  margin:4px!important;
  background: #fff!important;
  height: 50px !important;
  border-radius: 2px solid #c1c1c1!important;
  padding: 10px !important;

}

#questionDisplay input[type=button]{
  font-size: 120%!important;
  width: 100%!important;
  margin: 25px 0 0!important;
  padding: 5px!important;
  border: none!important;
  color: #fff!important;
  background: rgb(15, 108, 227);
  border-radius: 20px!important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#questionDisplay input[type=button]:hover{
opacity: 0.5!important;
}

.blink {
  -webkit-box-shadow: 0 0 0px 3px #1de9b6!important;
          box-shadow: 0 0 0px 3px #1de9b6!important; 
}

@keyframes blink{
  50%{
   background-color: #ffffff!important; 
  }
}


#checkSolutionBtn{
  display: none !important;
}
#AppClientTaskButton a img{
  display: none !important;
}
/* ************Responsive*************** */
@media screen and (min-width: 28.75em) {
  .field{
    width: 2.5em !important;
    height: 2.5em!important;
    padding: 10px !important;
  }
  #questionSidePanel{
    width: 100%!important;
  }
}

@media screen and (min-width: 40.5em) { 
  #questionSidePanel{
    width: 40%!important;
  }
  .field{
    width: 4.5em !important;
    height: 4.5em!important;
  }
  #innerCrossword .filled{
    padding: 30px !important;
  }
}
